
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');



body{
    margin: 0;
    font-family: 'Pacifico', cursive;
}
main {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.2fr;
    min-height: 100%;
}

.panel{
    display: grid;
    grid-template-columns: 1fr;
}
.panel.text {
    background: #3B1E08  ;
    color: white ;
    padding: 30px 60px;
}

/*First panel*/
.Coffee.List {
    font-family: 'Amatic SC', cursive;
    background: #9A7B4F ;
    padding: 30px 60px;
    grid-auto-rows: 1fr;
}
.Coffee.List nav {
    font-size: 1em;
}

.Coffee.List nav a {
    font-size: 1.5em;
    font-weight: bold;
    color:#622A0F;
    text-decoration: none;
    margin-right: 20px;
}
.Coffee.List p{
    color: #000000 ;
    max-width: 540px;
    line-height: 2em;
}
.Coffee.List h1{
    font-family: 'Cedarville Cursive', cursive;
    color: #2B1700 ;
    font-size: 3em;
}
.Coffee.List footer{
    align-self: end;
}
.Coffee.List p{
    font-weight: bold;
    font-style: italic;
}

/*middle panel*/
.Coffee.About{
    font-family: 'Amatic SC', cursive;
    background-color: #3B270C;
    grid-template-rows: 3fr 1fr;
    overflow: hidden;
    color:  #997950;
}
.Coffee.About h2{
    font-family: 'Cedarville Cursive', cursive;

}
.Coffee.About img {
    align-self: end;
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 100%;
    min-width: 100%;

}
.Coffee.About p{
    font-weight: bold;
    font-style: italic;
}

/*right panel*/

.Coffee.Photos{
    font-family: 'Amatic SC', cursive;
    background: #9A7B4F ;
    grid-template-rows: 1fr 3fr;
    overflow: hidden;
    color: black;
}
.Coffee.Photos h2{
    font-family: 'Cedarville Cursive', cursive;

}
.Coffee.Photos img {
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 100%;
    min-width: 100%;
}

.Coffee.Photos p{
    font-weight: bold;
    font-style: italic;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
